@media (max-width: 1024px) {
    .questionbankwindow.block {
        float:none;
        width:100%;
    }
    
    #page-mod-quiz-edit div.quizcontents {
        width:100%;
    }

}

@media (max-width: 979px) {

    .navbar .nav { height:auto; padding-bottom:10px;}

    .nav-collapse .nav>li>a:hover, .nav-collapse .nav>li>a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {background: #979aa9;}
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {color: #333; font-size:1.0em;}

    .mform .fitem div.fitemtitle {
        margin-left:1%;
        width:90%;
        text-align:left;
    }
    
    .mform .fitem div.felement,.mform .fitem div.felement.feditor,.mform .fitem fieldset.felement {
        margin-left:1%;
        width:90%;
    }
    
    .path-admin-tool-customlang .mform.filterform {
        width:95%;
    }
    
    .groupmanagementtable #existingcell,.groupmanagementtable #potentialcell,.groupmanagementtable #buttonscell,table.collection .badgeimage,table.collection .status,table.collection .awards,table.collection .actions,table.collection .criteria {
        width:auto;
        text-align:left;
    }
    
  *:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan),*:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) thead,*:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tbody,*:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) th,/**:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tr:not(.mceMenuItemSeparator):not(.mceMenuItem) td*/,*:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tr:not(.mceMenuItemSeparator):not(.mceMenuItem)
	{
        display:block;
        font-size: 95%;
        line-height: 1.3;
        clear: both;
    }
    
    /**:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) thead tr:not(.mceMenuItemSeparator):not(.mceMenuItem) {
        position:absolute;
        top:-9999px;
        left:-9999px;
    }*/
    
    *:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tr:not(.mceMenuItemSeparator):not(.mceMenuItem) {
        border: none;
    }
    
   /* *:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tr:not(.mceMenuItemSeparator):not(.mceMenuItem) td:not(.toolbar) {
        position:relative;
        padding-left: 21%;
        border:none;
        text-align: left !important;
        width: auto !important;
    }
    
    *:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tr:not(.mceMenuItemSeparator):not(.mceMenuItem) td > div {
        display:inline;
    }
    
    *:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(.yui-calendar):not(.rolecap):not(.nocollapse):not(.ui-datepicker-calendar):not(.dialog-content):not(.userplan) tr:not(.mceMenuItemSeparator):not(.mceMenuItem) td:before {
        display: inline-block;
        float: none;
        padding: 0 10px 0 1%;
        width: 23%;
        content: attr(data-headername);
        white-space: normal;
        font-weight: 700;
        word-break: break-word;
        margin-left: -26%;
    }*/
    
    table.rolecap td {
        line-height: 0.8em;
    }

    table.rolecap td.inherit,
    table.rolecap td.allow,
    table.rolecap td.prevent,
    table.rolecap td.prohibit {
        width: 25%;
        float: none;
    }

    #page-mod-quiz-report table#attempts {
        width: 100%;
    }

    .gradingtable .actionmenu > div {
        width: 10%;
        margin-left: 20%;
    }
    
    .block-region .block .content {
        padding:2px;
    }
    
    #block-region-side-post {
        clear:both;
        margin-left:0;
        width:100%;
    }
    
    #region-bs-main-and-pre {
        width:100%;
    }

    body #filesskin .filemanager form table tr td {
        padding: 0;
        margin: 0;
    }

    body #filesskin .filemanager form table tr td input {
        margin: 0;
    }

    body #filesskin .filemanager form table tr td:before {
        width: 0 !important;
    }

    .filemanager.fp-select.fp-folder .fp-license, .filemanager.fp-select.fp-folder .fp-author, .filemanager.fp-select.fp-file .fp-file-unzip, .filemanager.fp-select.fp-folder .fp-file-unzip, .filemanager.fp-select.fp-file .fp-file-zip, .filemanager.fp-select.fp-zip .fp-file-zip {
        display: none !important;
    }
    div.filemanager {
        width: 100%;
    }

    table#categoryquestions {
        display: block;
        overflow: auto;
        table-layout: auto;
    }

    table#categoryquestions .questionname {
        white-space: nowrap;
    }

    #chooseqtype {
        width: auto;
    }
    
    .path-admin #assignrole {
        width: 100%;
    }

    #page-mod-feedback-analysis .generalbox *:not(.qn-answer) table:not(.gradestable):not(.mceLayout):not(.mceToolbar):not(.mceListBox):not(.mceSplitButton):not(#categoryquestions):not(.calendartable):not(#menu_id_description_contextmenu_tbl):not(.userenrolment):not(.ygtvtable):not(.completionreport):not(.mod-data-default-template):not(.glossarypost):not(.glossarycategoryheader):not(.answer):not(.forumheaderlist):not(#user-grades):not(#fixed_column):not(#completion-progress):not(.yui-calendar) tr:not(.mceMenuItemSeparator):not(.mceMenuItem) td {
        padding-left: 0 !important;
    }

    .path-admin .buttons, .form-buttons{padding-left:100px;}

    #filesskin .yui3-panel, #filesskin .file-picker.fp-generallayout {
        left: 0 !important;
        width: 100%;
    }

    .emptyrow {display: none !important;}

    #page-mod-forum-search #region-main #searchform .searchbox td.c1 {margin-left: 0;}

    #fgroup_id_timevalidfrom_group .felement, 
    #fgroup_id_timevalidto_group .felement,
    #fgroup_id_tempmanagerexpiry_group .felement {width: 100%; margin-left: 0;}

    #region-main #pictures {width: 100%;}
    #region-main #pictures .picture {padding: 0;}
    #region-main #pictures .pictureframe td {padding-left: 0 !important;}

    #page-mod-forum-discuss .discussioncontrols .discussioncontrol,
    #page-mod-forum-discuss .discussioncontrol.movediscussion {width: 100%;}
    
}

@media (max-width: 768px) {
    .empty-region-side-post.used-region-side-pre #block-region-side-pre.span4,.empty-region-side-post.used-region-side-pre #region-main.span8 {
        width:100%;
    }
    
    .block-region .block .content {
        padding:5px;
    }
    
    .que .info {
        float:left;
        margin:0 2%;
        padding:2%;
        width:92%;
        border:none;
        background:#f5f5f5;
    }
    
    .que .info > * {
        margin:0!important;
    }
    
    .que .content {
        clear:both;
        margin:0 2%;
        padding:0 2%;
        width:92%;
        border:none;
    }
    
    .que table.answer {
        width:100%;
    }
    
    .que table.answer .text {
        display:block;
        width:100%;
    }
    
    .que table.answer .control {
        display:block;
        clear:both;
        width:100%;
    }
    
    body .row-fluid aside.block-region {
        clear:both;
        background:#fff;
    }

    .path-mod-forum .forumheaderlist {
        display: block;
        overflow: auto
    }
    
    .message .messagearea {display: block; width: 100%; border: none;}
	.message .contactselector {width: 100%;}

    #page-mod-quiz-edit .row-fluid .span9.pull-right{float:left!important;}
    .empty-region-side-post.used-region-side-pre #region-main.span8{float:left!important;}

    #page-calendar-event .mform .fitem .felement {margin-left: 0;}
    
    
}

@media (max-width: 480px) {
    .path-mod-forum .forumheaderlist .picture {
        display: block;
    }

    .file-picker .fp-repo-items {
        margin-left: 0%;
        width: 100%;
    }

    .file-picker .fp-repo-area {
        width: 100%;
    }

     .user-enroller-panel{width:auto;}
    #id_description_editor{width:290px;}

    .messagesend .mform .fitem .felement {margin-left: 0;}
    
    .mform .fitem fieldset.fgroup label, .mform fieldset.fdate_selector label {display: block; clear: both;}
}
